{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Una API para administrar la documentación de Mintlify y acceder a recursos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Iniciar actualización",
        "description": "Pon en cola una actualización de despliegue para tu proyecto de documentación. Devuelve un ID de estado que puede usarse para seguir el progreso de la actualización. La actualización se activa desde la rama de despliegue que tienes configurada.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Tu ID de proyecto. Puedes copiarlo desde la página de [claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) en tu panel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado de la actualización iniciada."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtener el estado de la actualización",
        "description": "Obtén el estado de una actualización a partir del ID de estado",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "El ID de estado de una actualización iniciada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "El ID de estado de la actualización iniciada."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "El ID del proyecto de documentación."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "El estado de la actualización."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Resumen del estado de la actualización"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Una lista de registros.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio de la documentación que se está actualizando."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación en modo oscuro."
                    },
                    "author": {
                      "type": "object",
                      "description": "El autor de la actualización.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "El nombre del autor."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "La URL de la imagen de avatar del autor."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "El ID de usuario de GitHub del autor."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "Los detalles del commit",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "El SHA del commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La referencia del commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "El mensaje del commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Detalles de los archivos modificados.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Archivos nuevos añadidos.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Archivos existentes que se han modificado.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Archivos que se han eliminado.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "El origen que desencadena la actualización.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/preview/{projectId}": {
      "post": {
        "summary": "Iniciar despliegue de vista previa",
        "description": "Crea o actualiza un despliegue de vista previa para una rama específica. Si ya existe una vista previa para la rama, se vuelve a desplegar. Devuelve un ID de estado para seguir el progreso y la URL de la vista previa.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo desde la página de [claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) en tu panel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "El nombre de la rama de Git para la que quieres crear un despliegue de vista previa.",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "El despliegue de vista previa se ha puesto en cola correctamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado para seguir el despliegue de vista previa. Úsalo con el endpoint [Obtener el estado del despliegue](/api/update/status)."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "La URL donde está alojado el despliegue de vista previa."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Solicitud no válida. El campo `branch` es obligatorio.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Los despliegues de vista previa no están disponibles en tu plan actual.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "La cabecera Authorization espera un token Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genera una en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu panel."
      }
    }
  }
}