{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "Une API pour les opérations administratives, notamment les mises à jour de la documentation et la gestion des agents.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/agent/{projectId}/job": {
      "post": {
        "summary": "Créer un job d’agent (v1)",
        "deprecated": true,
        "description": "Obsolète : utilisez plutôt [v2 create agent job](/api/agent/v2/create-agent-job). Crée un nouveau job d’agent capable de générer et de modifier la documentation à partir des messages et des informations de branche fournis.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "Le nom de la branche Git sur laquelle l’agent doit travailler. S’il est omis, l’agent génère un nom de branche à partir du contenu du message."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Liste des messages à fournir à l’agent. Une invite système par défaut est toujours ajoutée automatiquement au début. Vous n’avez donc généralement besoin d’inclure que des messages utilisateur.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ],
                          "description": "Le rôle de l’expéditeur du message. Utilisez `user` pour les instructions de tâche. Utilisez `system` pour ajouter des instructions supplémentaires qui sont ajoutées après l’invite système par défaut (sans la remplacer). Utilisez `assistant` pour fournir des réponses d’assistant d’exemple pour le prompting few-shot."
                        },
                        "content": {
                          "type": "string",
                          "description": "Le contenu du message."
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": false,
                    "description": "Détermine si la pull request (PR) est créée en mode brouillon ou non. Lorsque la valeur est `true`, crée une pull request (PR) en brouillon. Lorsque la valeur est `false` (par défaut), crée une pull request (PR) standard prête à être relue."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "Le modèle d’IA à utiliser pour le job d’agent. Utilisez `sonnet` pour un traitement plus rapide et plus économique. Utilisez `opus` pour un traitement plus performant, mais plus lent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job d’agent créé avec succès. Renvoie une réponse en flux avec des événements envoyés par le serveur.",
            "headers": {
              "X-Session-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identifiant de session unique du job d’agent créé."
              },
              "X-Branch-Name": {
                "schema": {
                  "type": "string"
                },
                "description": "Nom de la branche Git sur laquelle l’agent effectue les modifications."
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Flux d’événements envoyés par le serveur contenant les détails d’exécution et les résultats du job d’agent."
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Récupérer un job d’agent par ID (v1)",
        "deprecated": true,
        "description": "Obsolète : utilisez plutôt [v2 get agent job](/api/agent/v2/get-agent-job). Récupère les détails et le statut d’un job d’agent spécifique à partir de son ID.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Votre ID de projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique du job d’agent à récupérer."
          }
        ],
        "responses": {
          "200": {
            "description": "Détails du job d’agent récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "Le sous-domaine auquel cette session appartient."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine auquel cette session appartient."
                    },
                    "branch": {
                      "type": "string",
                      "description": "Nom de la branche Git où les modifications ont été effectuées.",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "Indique si l’exécution de la session a été arrêtée."
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error",
                        "processing",
                        "interrupted"
                      ],
                      "description": "Motif de l’arrêt de la session. `processing` indique que le job est toujours en cours d’exécution. `interrupted` indique que le job a été interrompu manuellement."
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "Lien vers la pull request (PR) créée."
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "Message destiné à l’utilisateur concernant l’issue de la session."
                    },
                    "todos": {
                      "type": "array",
                      "description": "Liste des tâches de la session.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Brève description de la tâche."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "Statut actuel de la tâche."
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "Niveau de priorité de la tâche."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifiant unique de l’élément de la liste de tâches."
                          }
                        }
                      }
                    },
                    "userId": {
                      "type": "string",
                      "description": "ID de l’utilisateur ayant créé cette session, si disponible."
                    },
                    "title": {
                      "type": "string",
                      "description": "Titre généré résumant le job d’agent."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Horodatage de création de la session."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/{projectId}/jobs": {
      "get": {
        "summary": "Récupérer tous les jobs d’agent (v1)",
        "deprecated": true,
        "description": "Obsolète : utilisez plutôt [v2 get agent job](/api/agent/v2/get-agent-job). Récupère tous les jobs d’agent du domaine spécifié, y compris leur statut et leurs détails.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de votre projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Nombre de résultats à ignorer pour la pagination."
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 12
            },
            "description": "Nombre de résultats à renvoyer. Maximum : 100."
          }
        ],
        "responses": {
          "200": {
            "description": "Tous les jobs d’agent ont été récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "Tableau de toutes les sessions d’agent du domaine.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "Sous-domaine auquel appartient cette session."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "Sous-domaine auquel appartient cette session."
                          },
                          "branch": {
                            "type": "string",
                            "description": "Nom de la branche Git où les modifications ont été effectuées.",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "Indique si l’exécution de la session a été interrompue."
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error",
                              "processing",
                              "interrupted"
                            ],
                            "description": "Raison de l’arrêt de la session. `processing` indique que le job est toujours en cours d’exécution. `interrupted` indique que le job a été interrompu manuellement."
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "Lien vers la pull request (PR) créée."
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "Message destiné à l’utilisateur concernant le résultat de la session."
                          },
                          "todos": {
                            "type": "array",
                            "description": "Liste des tâches de la session.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Brève description de la tâche."
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "Statut actuel de la tâche."
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "Niveau de priorité de la tâche."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Identifiant unique de l’élément de la liste de tâches."
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string",
                            "description": "ID de l’utilisateur ayant créé cette session, si disponible."
                          },
                          "title": {
                            "type": "string",
                            "description": "Titre généré résumant le job d’agent."
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Horodatage de création de la session."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job": {
      "post": {
        "summary": "Créer un job d’agent",
        "description": "Crée un nouveau job d’agent qui s’exécute en arrière-plan. Le job traite le prompt de manière asynchrone — interrogez le point de terminaison get job pour suivre sa progression. Si l’agent modifie les fichiers avec succès, une pull request (PR) est créée automatiquement.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID de votre projet. Peut être copié depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Instruction que l’agent doit exécuter."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job d’agent créé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requêtes dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Récupérer un job d’agent",
        "description": "Récupère l’état actuel et les détails d’un job d’agent. Interrogez ce point de terminaison pour suivre la progression du job.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique du job d’agent."
          }
        ],
        "responses": {
          "200": {
            "description": "Détails du job d’agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "Job introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "summary": "Envoyer un message de suivi",
        "description": "Envoie un message de suivi à un job d’agent existant. Le message est traité de manière asynchrone — interrogez le point de terminaison get job pour suivre sa progression.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique du job d’agent auquel envoyer un message."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "L’instruction de suivi pour l’agent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message envoyé avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "Requête invalide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job introuvable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limite de requêtes dépassée",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifiant unique du job d’agent."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "archived",
              "failed"
            ],
            "description": "État actuel du job. `active` — l’agent traite actuellement le prompt. `completed` — l’agent a terminé avec succès et une PR a peut-être été créée (vérifiez `prLink`). `archived` — le job a été archivé. `failed` — l’agent a rencontré une erreur irrécupérable. Interrogez ce point de terminaison jusqu’à ce que l’état soit `completed`, `archived` ou `failed`."
          },
          "source": {
            "type": "object",
            "description": "Informations sur le dépôt source.",
            "properties": {
              "repository": {
                "type": "string",
                "description": "URL complète du dépôt GitHub."
              },
              "ref": {
                "type": "string",
                "description": "Branche Git sur laquelle l’agent travaille.",
                "nullable": true
              }
            }
          },
          "model": {
            "type": "string",
            "description": "Le modèle d’IA utilisé pour ce job."
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/org/repo/pull/123",
            "description": "URL de la pull request GitHub créée par l’agent. `null` tant que le job est encore `active` ou si aucun fichier n’a été modifié. Ce champ est renseigné une fois que l’agent crée une PR avec succès.",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de création du job."
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Horodatage de l’archivage du job.",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Message d’erreur."
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête Authorization attend un jeton Bearer. Utilisez une clé d’API administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une sur la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
      }
    }
  }
}