{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Une API pour gérer la documentation Mintlify et accéder aux ressources.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Déclencher une mise à jour",
        "description": "Met en file d’attente une mise à jour de déploiement pour votre projet de documentation. Renvoie un ID de statut permettant de suivre la progression de la mise à jour. La mise à jour est déclenchée à partir de votre branche de déploiement configurée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page des [clés API](https://dashboard.mintlify.com/settings/organization/api-keys) dans votre tableau de bord.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L’ID de statut de la mise à jour déclenchée."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtenir le statut de la mise à jour",
        "description": "Obtenir le statut d’une mise à jour à partir de l’ID de statut",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "L’ID de statut d’une mise à jour déclenchée.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse réussie",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "L’ID de statut de la mise à jour déclenchée."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "L’ID du projet de documentation."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Une ISODate avec la date et l’heure spécifiées en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Une ISODate avec la date et l’heure spécifiées en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "Le statut de la mise à jour."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Résumé du statut de la mise à jour"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Un tableau de journaux.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine de la documentation en cours de mise à jour."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Une capture d’écran de la documentation en mode sombre."
                    },
                    "author": {
                      "type": "object",
                      "description": "L’auteur de la mise à jour.",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Le nom de l’auteur."
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "L’URL de l’image d’avatar de l’auteur."
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "L’ID utilisateur GitHub de l’auteur."
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "Les détails du commit",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "Le SHA du commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La référence du commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "Le message du commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Détails des fichiers modifiés.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Nouveaux fichiers ajoutés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Fichiers existants modifiés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Fichiers supprimés.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "Source du déclencheur de la mise à jour.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/preview/{projectId}": {
      "post": {
        "summary": "Déclencher un déploiement de prévisualisation",
        "description": "Créez ou mettez à jour un déploiement de prévisualisation pour une branche spécifique. Si une prévisualisation existe déjà pour cette branche, cela déclenche un nouveau déploiement. Renvoie un ID de statut pour en suivre la progression ainsi que l’URL de prévisualisation.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page [Clés API](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "Le nom de la branche Git pour laquelle créer un déploiement de prévisualisation.",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Déploiement de prévisualisation mis en file d’attente avec succès.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L’ID de statut permettant de suivre le déploiement de prévisualisation. Utilisez-le avec le point de terminaison [Obtenir le statut du déploiement](/api/update/status)."
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "L’URL à laquelle le déploiement de prévisualisation est hébergé."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requête non valide. Le champ `branch` est requis.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Les déploiements de prévisualisation ne sont pas disponibles avec votre offre actuelle.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête Authorization attend un jeton Bearer. Utilisez une clé API administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une depuis la page [Clés API](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
      }
    }
  }
}