{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "用于执行管理操作的 API，包括文档更新和智能体管理。",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/agent/{projectId}/job": {
      "post": {
        "summary": "创建智能体任务（v1）",
        "deprecated": true,
        "description": "已弃用：请改用 [v2 create agent job](/api/agent/v2/create-agent-job)。此接口会创建一个新的智能体任务，智能体可根据提供的消息和分支信息生成并编辑文档。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "您的项目 ID。可从仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "智能体应在哪个 Git 分支上工作的分支名称。如省略，智能体会根据消息内容生成分支名称。"
                  },
                  "messages": {
                    "type": "array",
                    "description": "提供给智能体的消息列表。系统始终会自动在前面添加默认的 system prompt，因此通常只需包含 user 消息。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user",
                            "assistant"
                          ],
                          "description": "消息发送者的角色。任务说明请使用 `user`。如需添加补充说明，请使用 `system`；这些说明会附加在默认 system prompt 之后（不会替换它）。如需为少样本提示提供助手示例回复，请使用 `assistant`。"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息内容。"
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": false,
                    "description": "控制拉取请求（PR）是以草稿还是非草稿模式创建。为 true 时，会创建草稿拉取请求（PR）；为 false（默认）时，会创建可供审查的常规拉取请求（PR）。"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "用于智能体任务的 AI 模型。使用 `sonnet` 可获得更快且更具成本效益的处理；使用 `opus` 则能力更强，但处理速度较慢。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "智能体任务创建成功。返回采用 Server-Sent Events 的流式响应。",
            "headers": {
              "X-Session-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "已创建智能体任务的唯一会话标识符。"
              },
              "X-Branch-Name": {
                "schema": {
                  "type": "string"
                },
                "description": "智能体进行更改的 Git 分支名称。"
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "包含智能体任务执行详情和结果的 Server-Sent Events 流。"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "按 ID 获取智能体任务（v1）",
        "deprecated": true,
        "description": "已弃用：请改用 [v2 get agent job](/api/agent/v2/get-agent-job)。此接口会按 ID 检索特定智能体任务的详细信息和状态。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "您的项目 ID。可从仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要检索的智能体任务的唯一标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "已成功获取智能体任务详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "此会话所属的子域名。"
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "此会话所属的子域名。"
                    },
                    "branch": {
                      "type": "string",
                      "description": "进行更改所用的 Git 分支名称。",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "该会话执行是否已中止。"
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error",
                        "processing",
                        "interrupted"
                      ],
                      "description": "会话中止原因。`processing` 表示任务仍在运行中。`interrupted` 表示任务已被手动中断。"
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "已创建的拉取请求（PR）链接。"
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "向用户说明会话结果的消息。"
                    },
                    "todos": {
                      "type": "array",
                      "description": "会话中的待办事项列表。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "任务的简要描述。"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "任务的当前状态。"
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "任务的优先级。"
                          },
                          "id": {
                            "type": "string",
                            "description": "待办事项的唯一标识符。"
                          }
                        }
                      }
                    },
                    "userId": {
                      "type": "string",
                      "description": "创建此会话的用户 ID（如果可用）。"
                    },
                    "title": {
                      "type": "string",
                      "description": "概括该智能体任务的自动生成标题。"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "会话的创建时间戳。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/{projectId}/jobs": {
      "get": {
        "summary": "获取所有智能体任务（v1）",
        "deprecated": true,
        "description": "已弃用：请改用 [v2 get agent job](/api/agent/v2/get-agent-job)。检索指定域名的所有智能体任务，包括其状态和详细信息。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可从仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "分页时要跳过的结果数。"
          },
          {
            "name": "take",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 12
            },
            "description": "要返回的结果数。最大为 100。"
          }
        ],
        "responses": {
          "200": {
            "description": "已成功检索所有智能体任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "该域名下所有智能体会话的数组。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "branch": {
                            "type": "string",
                            "description": "进行更改所用的 Git 分支名称。",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "会话执行是否已中止。"
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error",
                              "processing",
                              "interrupted"
                            ],
                            "description": "会话中止的原因。`processing` 表示任务仍在运行中。`interrupted` 表示任务已被手动中断。"
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "已创建的拉取请求（PR）链接。"
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "告知用户会话结果的消息。"
                          },
                          "todos": {
                            "type": "array",
                            "description": "会话中的待办事项列表。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "任务的简要描述。"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "任务的当前状态。"
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "任务的优先级。"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "待办事项的唯一标识符。"
                                }
                              }
                            }
                          },
                          "userId": {
                            "type": "string",
                            "description": "创建此会话的用户 ID（如果可用）。"
                          },
                          "title": {
                            "type": "string",
                            "description": "概括该智能体任务的自动生成标题。"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "会话的创建时间戳。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job": {
      "post": {
        "summary": "创建智能体任务",
        "description": "创建一个在后台运行的新智能体任务。该任务会异步处理提示——请轮询 get job 端点以跟踪进度。如果智能体成功编辑文件，则会自动创建拉取请求（PR）。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可从仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "要由智能体执行的指令。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "智能体任务已成功创建",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "无效请求",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "已超出速率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "获取智能体任务",
        "description": "获取智能体任务的当前状态和详细信息。轮询此端点以跟踪任务进度。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可在仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "智能体任务的唯一标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "智能体任务详情",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "404": {
            "description": "未找到任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v2/agent/{projectId}/job/{id}/message": {
      "post": {
        "summary": "发送后续消息",
        "description": "向现有智能体任务发送后续消息。该消息会异步处理——轮询 get job 端点以跟踪进度。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可在仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要发送消息到的智能体任务的唯一标识符。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "prompt"
                ],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "发送给智能体的后续指令。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息发送成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentJob"
                }
              }
            }
          },
          "400": {
            "description": "无效请求",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "未找到任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "已超出速率限制",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "智能体任务的唯一标识符。"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "archived",
              "failed"
            ],
            "description": "任务的当前状态。`active`——智能体当前正在处理提示。`completed`——智能体已成功完成，并且可能已创建拉取请求（PR）（请检查 `prLink`）。`archived`——任务已归档。`failed`——智能体遇到了不可恢复的错误。轮询直到状态变为 `completed`、`archived` 或 `failed`。"
          },
          "source": {
            "type": "object",
            "description": "源代码仓库信息。",
            "properties": {
              "repository": {
                "type": "string",
                "description": "GitHub 仓库的完整 URL。"
              },
              "ref": {
                "type": "string",
                "description": "智能体正在处理的 Git 分支。",
                "nullable": true
              }
            }
          },
          "model": {
            "type": "string",
            "description": "此任务使用的 AI 模型。"
          },
          "prLink": {
            "type": "string",
            "format": "uri",
            "example": "https://github.com/org/repo/pull/123",
            "description": "由智能体创建的 GitHub 拉取请求（PR）URL。当任务仍处于 `active` 状态或没有文件变更时，该值为 `null`。智能体成功创建 PR 后，此字段会被填充。",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "任务的创建时间戳。"
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "description": "任务的归档时间戳。",
            "nullable": true
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "错误信息。"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要 Bearer 令牌。请使用管理员 API 密钥（前缀为 `mint_`）。这是服务器端密钥，请妥善保管。可在仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面生成。"
      }
    }
  }
}