{
  "openapi": "3.1.0",
  "info": {
    "title": "Mintlify Analytics Export API",
    "version": "1.0.0",
    "description": "用于导出文档分析数据的 API"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com",
      "description": "生产环境"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要 Bearer 令牌。请使用管理员 API 密钥（前缀为 `mint_`）。这是服务器端密钥，请妥善保管。你可以在仪表板中的 [API keys 页面](https://dashboard.mintlify.com/settings/organization/api-keys) 生成一个。"
      }
    },
    "schemas": {
      "projectId": {
        "type": "string",
        "description": "你的项目 ID。可在仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "description": "反馈条目列表。",
            "items": {
              "anyOf": [
                {
                  "description": "当 source 为 `contextual` 时返回。包含用户是否认为该页面有帮助，以及可选的联系邮箱。",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一的反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的文本内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "提交反馈时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual",
                        "agent",
                        "thumbs_only"
                      ],
                      "description": "反馈的来源。`code_snippet` 表示对代码块的反馈，`contextual` 表示页面级反馈，`agent` 表示由第三方 AI 代理提交的反馈，`thumbs_only` 表示点赞或点踩投票。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈的当前审核状态。"
                    },
                    "helpful": {
                      "type": "boolean",
                      "description": "用户是否认为内容有帮助。"
                    },
                    "contact": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户提供的用于后续跟进的电子邮件地址。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "helpful",
                    "contact"
                  ]
                },
                {
                  "description": "当 source 为 `code_snippet` 时返回。包含该反馈关联的代码片段的代码、文件名和语言。",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一的反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的文本内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "提交反馈时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual",
                        "agent",
                        "thumbs_only"
                      ],
                      "description": "反馈的来源。`code_snippet` 表示对代码块的反馈，`contextual` 表示页面级反馈，`agent` 表示由第三方 AI 代理提交的反馈，`thumbs_only` 表示点赞或点踩投票。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈的当前审核状态。"
                    },
                    "code": {
                      "type": "string",
                      "description": "该反馈关联的代码片段。"
                    },
                    "filename": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "与该代码片段关联的文件名。"
                    },
                    "lang": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "该代码片段的编程语言。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "code",
                    "filename",
                    "lang"
                  ]
                },
                {
                  "description": "当 source 为 `agent` 或 `thumbs_only` 时返回。仅包含基础反馈字段。",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一的反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "反馈提交时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual",
                        "agent",
                        "thumbs_only"
                      ],
                      "description": "反馈的来源。`code_snippet` 表示针对代码块的反馈，`contextual` 表示页面级反馈，`agent` 表示由第三方 AI 代理提交的反馈，`thumbs_only` 表示仅提供点赞/点踩的投票。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈当前的审核状态。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status"
                  ]
                }
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "用于获取下一页结果的游标。如果没有更多结果，则为 null。"
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之后是否还有更多结果。"
          }
        },
        "required": [
          "feedback",
          "nextCursor",
          "hasMore"
        ]
      },
      "AnalyticsErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "说明错误原因的错误消息。"
          },
          "details": {
            "type": "array",
            "description": "有关该错误的其他详细信息。",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "特定验证或处理错误的描述。"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "AssistantConversationsResponse": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "description": "助手对话列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "唯一的对话标识符。"
                },
                "timestamp": {
                  "type": "string",
                  "description": "对话发生时的时间戳。"
                },
                "query": {
                  "type": "string",
                  "description": "用户向助手提出的问题。"
                },
                "response": {
                  "type": "string",
                  "description": "助手的回答。"
                },
                "sources": {
                  "type": "array",
                  "description": "回答中引用的文档页面。",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "引用的文档页面标题。"
                      },
                      "url": {
                        "type": "string",
                        "description": "引用的文档页面 URL。"
                      }
                    },
                    "required": [
                      "title",
                      "url"
                    ]
                  }
                },
                "queryCategory": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "自动分配给该对话的类别分组（如适用）。"
                }
              },
              "required": [
                "id",
                "timestamp",
                "query",
                "response",
                "sources",
                "queryCategory"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "用于获取下一页结果的游标。如果没有更多结果，则为 null。"
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之后是否还有更多结果。"
          }
        },
        "required": [
          "conversations",
          "nextCursor",
          "hasMore"
        ]
      },
      "FeedbackGroupedByPageResponse": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "description": "按文档页面路径汇总的反馈数量。",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "文档页面路径。"
                },
                "thumbsUp": {
                  "type": "number",
                  "description": "正向（点赞）的页面级反馈条目数。"
                },
                "thumbsDown": {
                  "type": "number",
                  "description": "负向（点踩）的页面级反馈条目数。"
                },
                "code": {
                  "type": "number",
                  "description": "代码片段反馈条目数。"
                },
                "total": {
                  "type": "number",
                  "description": "该页面的反馈条目总数。"
                }
              },
              "required": [
                "path",
                "thumbsUp",
                "thumbsDown",
                "code",
                "total"
              ]
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之后是否还有更多结果。"
          }
        },
        "required": [
          "feedback",
          "hasMore"
        ]
      },
      "SearchesResponse": {
        "type": "object",
        "properties": {
          "searches": {
            "type": "array",
            "description": "按命中次数降序排列的搜索词。",
            "items": {
              "type": "object",
              "properties": {
                "searchQuery": {
                  "type": "string",
                  "description": "用户输入的搜索词。"
                },
                "hits": {
                  "type": "number",
                  "description": "该搜索词被搜索的次数。"
                },
                "ctr": {
                  "type": "number",
                  "description": "此搜索词的点击率。"
                },
                "topClickedPage": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "此查询对应的点击次数最多的结果路径（如有）。"
                },
                "lastSearchedAt": {
                  "type": "string",
                  "description": "此搜索词最近一次被搜索的时间戳。"
                }
              },
              "required": [
                "searchQuery",
                "hits",
                "ctr",
                "topClickedPage",
                "lastSearchedAt"
              ]
            }
          },
          "totalSearches": {
            "type": "integer",
            "minimum": 0,
            "description": "所请求日期范围内的搜索事件总数（所有命中的总和，不是去重后的查询数）。"
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "用于下一页的不透明分页游标。如果没有更多结果，则为 null。"
          }
        },
        "required": [
          "searches",
          "totalSearches",
          "nextCursor"
        ]
      },
      "ViewsTrafficTotals": {
        "type": "object",
        "properties": {
          "human": {
            "type": "number",
            "description": "来自人工流量的全站内容浏览事件。"
          },
          "ai": {
            "type": "number",
            "description": "来自 AI 机器人流量的全站内容浏览事件。"
          },
          "total": {
            "type": "number",
            "description": "全站内容浏览事件。"
          }
        },
        "required": [
          "human",
          "ai",
          "total"
        ]
      },
      "ViewsByPageResponse": {
        "type": "object",
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/ViewsTrafficTotals",
            "description": "该日期范围内的全站浏览总数。"
          },
          "views": {
            "type": "array",
            "description": "各页面的浏览次数。",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "文档页面路径。"
                },
                "human": {
                  "type": "number",
                  "description": "此路径上来自人工流量的内容浏览事件。"
                },
                "ai": {
                  "type": "number",
                  "description": "此路径上来自 AI 机器人流量的内容浏览事件。"
                },
                "total": {
                  "type": "number",
                  "description": "此路径上的内容浏览事件总数。"
                }
              },
              "required": [
                "path",
                "human",
                "ai",
                "total"
              ]
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之外是否还有更多结果。"
          }
        },
        "required": [
          "totals",
          "views",
          "hasMore"
        ]
      },
      "AssistantCallerStatsResponse": {
        "type": "object",
        "properties": {
          "web": {
            "type": "number",
            "description": "来自网页（文档站点）的助手查询数量。"
          },
          "api": {
            "type": "number",
            "description": "来自 API 调用的助手查询数量。"
          },
          "other": {
            "type": "number",
            "description": "来自其他来源（例如集成、SDK）的助手查询数量。"
          },
          "total": {
            "type": "number",
            "description": "所有来源的助手查询总数。"
          }
        },
        "required": [
          "web",
          "api",
          "other",
          "total"
        ]
      },
      "VisitorsTrafficTotals": {
        "type": "object",
        "properties": {
          "human": {
            "type": "number",
            "description": "来自人工流量的全站唯一访客数。"
          },
          "ai": {
            "type": "number",
            "description": "来自 AI 机器人流量的全站唯一访客数。"
          },
          "total": {
            "type": "number",
            "description": "全站范围内具有任意符合条件浏览的近似唯一访客数（已在人类和 AI 之间去重）。"
          }
        },
        "required": [
          "human",
          "ai",
          "total"
        ]
      },
      "VisitorsByPageResponse": {
        "type": "object",
        "properties": {
          "totals": {
            "$ref": "#/components/schemas/VisitorsTrafficTotals",
            "description": "该日期范围内的全站唯一访客总数。"
          },
          "visitors": {
            "type": "array",
            "description": "各页面的访客数。",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "文档页面路径。"
                },
                "human": {
                  "type": "number",
                  "description": "来自人工流量的唯一访客数。"
                },
                "ai": {
                  "type": "number",
                  "description": "来自 AI 机器人流量的唯一访客数。"
                },
                "total": {
                  "type": "number",
                  "description": "此路径上具有任意符合条件浏览的近似唯一访客数（已在人类和 AI 之间去重）。"
                }
              },
              "required": [
                "path",
                "human",
                "ai",
                "total"
              ]
            }
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之外是否还有更多结果。"
          }
        },
        "required": [
          "totals",
          "visitors",
          "hasMore"
        ]
      }
    },
    "parameters": {
      "projectId": {
        "schema": {
          "$ref": "#/components/schemas/projectId"
        },
        "required": true,
        "name": "projectId",
        "in": "path"
      }
    }
  },
  "paths": {
    "/v1/analytics/{projectId}/feedback": {
      "get": {
        "summary": "获取用户反馈",
        "description": "返回分页的用户反馈，支持可选筛选",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 是排他的上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "code_snippet",
                "contextual",
                "agent",
                "thumbs_only"
              ],
              "description": "按反馈来源筛选"
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "用于筛选的状态列表，用逗号分隔"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "description": "每页最大结果数"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "分页游标"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "包含分页信息的反馈数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/feedback/by-page": {
      "get": {
        "summary": "按页面获取反馈",
        "description": "返回按文档页面路径聚合的反馈计数（包括上下文反馈的赞/踩、代码片段计数以及每页总数）",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 是排他的上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 10,
              "description": "每页最大结果数"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "code_snippet",
                "contextual",
                "agent",
                "thumbs_only"
              ],
              "description": "按反馈来源筛选"
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "用于筛选的状态列表，用逗号分隔"
            },
            "required": false,
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "包含分页标记的每页反馈聚合数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackGroupedByPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/assistant": {
      "get": {
        "summary": "获取助手对话",
        "description": "返回分页的 AI 助手对话历史记录",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 是排他的上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "description": "每页最大结果数"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "ulid",
              "description": "分页游标（ULID 格式）"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "包含分页信息的对话数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantConversationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/assistant/caller-stats": {
      "get": {
        "summary": "获取助手调用方统计信息",
        "description": "返回指定日期范围内按 caller 类型（web、API 和其他）细分的助手查询次数。",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 是排他的上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "按 caller 类型细分的助手查询次数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantCallerStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/searches": {
      "get": {
        "summary": "获取搜索查询",
        "description": "返回指定日期范围内按命中次数降序排列的分页文档搜索词。每一行都包含点击率、该查询点击最多的结果路径（如有），以及该词条上次被搜索的时间。`totalSearches` 是同一日期范围内搜索查询事件的总数（即所有命中次数之和，而非不同查询的数量）。",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 为排他性上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "description": "每页最多返回的搜索词数量（按命中次数降序排列）"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "上一条响应返回的不透明分页游标"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "带分页的搜索词聚合结果",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchesResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数或游标无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/views": {
      "get": {
        "summary": "获取页面浏览量",
        "description": "按路径和全站范围返回内容浏览事件计数，并按人工流量和 AI 流量分别统计。",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 为排他性上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 50,
              "description": "每页最多返回的结果数（1-250，默认 50）。当 hasMore 为 true 时，每次将 offset 增加 limit 以进行分页。"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "要跳过的行数。对于按页访问，请使用 offset = (page - 1) * limit。"
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "全站和各路径的内容浏览事件计数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ViewsByPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/{projectId}/visitors": {
      "get": {
        "summary": "获取唯一访客数",
        "description": "按流量类型返回各路径和全站范围内的近似独立访客数。`total` 字段会在人工与 AI 之间去重（即对所有具有任意符合条件的内容浏览记录的独立访客 ID 取并集）。",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "采用 ISO 8601 或 YYYY-MM-DD 格式的日期。`dateTo` 为排他性上限。结果包含指定日期之前的日期，但不包含该日期当天。",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 50,
              "description": "每页最多返回的结果数（1-250，默认 50）。当 hasMore 为 true 时，每次将 offset 增加 limit 以进行分页。"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "description": "要跳过的行数。对于按页访问，请使用 offset = (page - 1) * limit。"
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "全站总计和各路径的访客数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisitorsByPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "查询参数无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}