{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "用于管理 Mintlify 文档并访问相关资源的 API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "触发更新",
        "description": "将你的文档项目部署更新加入队列。返回一个状态 ID，可用于跟踪更新进度。更新将从你配置的部署分支触发。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "你的项目 ID。可从仪表板中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "已触发更新的状态 ID。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "获取更新状态",
        "description": "通过状态 ID 获取更新状态",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "已触发更新的状态 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "已触发更新的状态 ID。"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "文档项目 ID。"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "采用 UTC 的 ISODate，包含指定的日期时间。"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "采用 UTC 的 ISODate，包含指定的日期时间。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "更新状态。"
                    },
                    "summary": {
                      "type": "string",
                      "description": "更新状态摘要"
                    },
                    "logs": {
                      "type": "array",
                      "description": "日志数组。",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "正在更新的文档子域名。"
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "文档截图。"
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "文档截图。"
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "深色模式下的文档截图。"
                    },
                    "author": {
                      "type": "object",
                      "description": "更新作者。",
                      "nullable": true,
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "作者名称。"
                        },
                        "avatarUrl": {
                          "type": "string",
                          "description": "作者头像图片的 URL。"
                        },
                        "githubUserId": {
                          "type": "number",
                          "description": "作者的 GitHub 用户 ID。"
                        }
                      }
                    },
                    "commit": {
                      "type": "object",
                      "description": "提交详情",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "提交的 SHA。"
                        },
                        "ref": {
                          "type": "string",
                          "description": "提交的 ref。"
                        },
                        "message": {
                          "type": "string",
                          "description": "提交信息。"
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "变更文件详情。",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "新增文件。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "已修改的现有文件。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "已删除的文件。",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "更新触发来源。",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard",
                        "gitlab",
                        "onboarding"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/preview/{projectId}": {
      "post": {
        "summary": "触发预览部署",
        "description": "为指定分支创建或更新预览部署。如果该分支已存在预览部署，则会触发重新部署。返回状态 ID 和预览 URL，用于跟踪进度。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "您的项目 ID。可在仪表板的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "要创建预览部署的 Git 分支名称。",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "预览部署已成功加入队列。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "用于跟踪预览部署的状态 ID。请配合 [Get deployment status](/api/update/status) 端点使用。"
                    },
                    "previewUrl": {
                      "type": "string",
                      "description": "托管预览部署的 URL。"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求无效。`branch` 字段为必填项。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "您当前的套餐不支持预览部署。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要 Bearer 令牌。请使用管理员 API 密钥（前缀为 `mint_`）。这是服务器端密钥，请妥善保管。可在仪表板的 [API keys page](https://dashboard.mintlify.com/settings/organization/api-keys) 生成。"
      }
    }
  }
}